@{
    ViewBag.Title = "Welcome";
}

    



    <div class="slider hidden-xs">
        <ul class="rslides">
            <li><img src="~/images/bakery.png" alt="" /></li>
            <li><img src="~/images/dairy.png" alt="" /></li>
            <li><img src="~/images/fruitandveg.png" alt="" /></li>
            <li><img src="~/images/meat.png" alt="" /></li>
        </ul>
    </div>
    <br />
    <h3 class="text-center">Click on a category below to get started</h3>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="categorywrap">
                <a href="~/StoreFront/Index/1">
                    <h2>Dairy</h2>
                    <img src="~/images/dairyicon.png" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="categorywrap">
                <a href="~/StoreFront/Index/2">
                    <h2>Meats</h2>
                    <img src="~/images/meaticon.png" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="categorywrap">
                <a href="~/StoreFront/Index/3">
                    <h2>Bakery</h2>
                    <img src="~/images/bakeryicon.png" alt="" />
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="categorywraplast">
                <a href="~/StoreFront/Index/4">
                    <h2>Fruits</h2>
                    <img src="~/images/fruiticon.png" alt="" />
                </a>
            </div>
        </div>
    </div>
