<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shoppingcarteci.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shoppingcarteci.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShoppingCartECI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShoppingCartECI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ECI.Models.ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:pharmaserver.database.windows.net,1433;Initial Catalog=ShoppingCartDatabase;User ID=null@pharmaserver.database.windows.net;Password=Whh&amp;8319&amp;246" Name="Data Source=tcp:pharmaserver.database.windows.net,1433;Initial Catalog=ShoppingCartDatabase;User Id=null@pharmaserver.database.windows.net;Password=Whh&amp;8319&amp;246" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ECI.Models.ApplicationDbContext, ECI" MigrationConfiguration="ECI.Migrations.Configuration, ECI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="tcp:pharmaserver.database.windows.net,1433;Initial Catalog=ShoppingCartDatabase;Persist Security Info=False;User ID={wahidrph@icloud.com};Password={whh8319246};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tcp:pharmaserver.database.windows.net,1433;Initial Catalog=ShoppingCartDatabase;Persist Security Info=False;User ID={wahidrph@icloud.com};Password={whh8319246};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ECI.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pharmaserver.database.windows.net,1433;Initial Catalog=ShoppingCartDatabase;User Id=null@pharmaserver.database.windows.net;Password=Whh&amp;8319&amp;246</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ECI.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>